.content {
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}
.content div {
  max-width: 500px;
  height: 600px;
  margin: 0 auto;
}
.content h1 {
  font-size: 65px;
  color: white;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(185, 44, 44, 0.541);
}

.content .welcome {
  background-color: rgba(255, 255, 255, 0.479);
  padding: 25px;
  border-radius: 40px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  color: rgba(0, 17, 255, 0.363);
}
.content .tulisan {
  background-color: rgba(255, 255, 255, 0.479);
  padding: 25px;
  border-radius: 20px;
}
